
body {
    margin-top: 0px;
    margin: 0px;
}
/* Hero section start -------------------------------------------*/
.hero-section {
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(34, 34, 34, 1), rgba(17, 17, 17, 1));
    margin-top: 0px;

}

nav {
    display: flex;
    max-width: 1060px;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;

}

.Fitness {
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;

}

.nav-list {
    display: flex;
    list-style: none;
    font-size: 1.125rem;
    align-items: center;
    border-radius: 39px 39px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 2px 3px;
    padding-right: 20px;
}

.nav-list-item {
    color: white;
    margin-left: 50px;
}

#home {
    margin-left: 0px;
    padding: 8px 20px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    font-weight: 600;
}

/* Header Content ........................ */

.header-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    gap: 150px;
    /* background-color: brown */
}

.header-content {
    margin-top: 60px;
    width: 50%;
    /* background-color: aqua; */
}

.header-content-heading {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 4.875rem;
    color: white;
    font-weight: 900;
    line-height: 110%;

}

#shape {
    font-style: italic;
    font-weight: 400;

}

.header-content-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 120%;
}

/* Header Buttons ........................ */

.header-button-container {
    margin-top: 40px;
}

.header-button {
    font-family: inherit;
    border-radius: 39px;
    font-size: 1.125rem;
    border: 1px solid rgba(255, 255, 255, 1);
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background: none;
    padding: 14px 45px;

}

#header-button-orange {
    margin-right: 10px;
    background-color: rgba(230, 83, 60, 1);
    border: none;
}

#header-button-orange-responsive {
    display: none;
}

/* Header image container ................ */
.header-image-container {
    position: relative;

}

#header-image {
    /* background-color: aqua; */
    width: 100%;

}

/* Header floating badges ................ */
.badge {
    position: absolute;
    font-family: inherit;
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    align-items: center;
    background-color: rgba(48, 48, 48, 0.54);

}

.badge-one {
    padding: 15px 20px;
    gap: 10px;
    bottom: 50px;
    left: -90px;
}

.dot {
    background-color: rgba(230, 83, 60, 1);
    width: 35px;
    height: 35px;
    /* margin-right: 50px; */
    border-radius: 50%;

}

.badge-two {
    padding: 15px 25px;
    top: 130px;
    right: -50px;
}
.badge-one-text {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

.badge-two-text {
    display: flex;
    flex-direction: column;

}
/*------------------------------------------ End of Hero section */






