/* Responsive section start */

@media screen and (max-width: 576px) {

    /* Hero responsive section ---------------------- */

    nav,
    .header-container {
        margin-left: 10px;

    }

    .Fitness {
        margin-top: 50px;
        margin-bottom: 50px;
    }


    .hero-section {
        background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.96), rgba(34, 34, 34, 1), rgba(17, 17, 17, 1));

    }

    .nav-list {
        display: none;
    }

    .header-container {
        flex-direction: column;
        gap: 40px;
    }

    .header-content {
        /* background-color: blue; */
        width: 100%;
        margin-top: 0px;

    }

    .header-content-heading {
        font-size: 2.25rem;
        /* font-weight: 800; */
    }

    .header-content-paragraph {
        margin-top: 40px;
        width: 80%;
        line-height: 120%;

    }

    .header-button-container {
        display: flex;
    }

    .header-button {
        padding: 10px 30px;
    }

    #header-button-orange {
        display: none;
    }


    #header-button-orange-responsive {
        display: block;
        margin-right: 10px;
        background-color: rgba(230, 83, 60, 1);
        border: none;

    }

    .badge-one {
        bottom: 270px;
        left: 25px;
    }

    .badge-two {
        top: 30px;
        right: 20px;
        padding: 15px 15px;
    }

    /* Change Habits responsive section ------------- */
    .change-habits-heading {
        padding-top: 10px;

    }
    .change-habits-title {
        font-size: 2rem;
    }

    .change-habits-container {
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }
 
    .change-habits-item-text {
        margin: 0 auto;
        width: 60%;
    }
    .change-habits-paragraph {
        line-height: 190%;
    }
    /* Run extra section */
    
    .run-extra-section {
        padding: 50px 30px;
    }

    .run-extra-container {
        max-width: 100%;
        flex-direction: column;
        gap: 30px;

    }
    #run-extra-box-paragraph {
        margin-bottom: 20px;
    }

    #run-extra-box-button {
        width: 100%;
    }
    .run-extra-image-container {
        width: 100%;
        height: 200px;

    }

    .run-extra-box {
        width: 100%;
    }


    .run-extra-image {
        object-position: 0%;
        width: 100%;

    }
    /* BMI section */
    .bmi-box {
        max-width: 90%;
        margin: 0 auto;
    }
    .bmi-heading {
        padding-top: 0;
    }

    .bmi-title {
        font-size: 2rem;
    }


    /* BMI calculator section */
    .bmi-calculator {
        max-width: 90%;

        margin: 0 auto;
        padding-left: 0;
        padding-bottom: 50px;
    
    }
    .bmi-calculator-title {
        font-size: 1rem;
    }
    .bmi-calculator-paragraph {
        width: 100%;
    }

    .form-options {
        max-width: 100%;

        gap: 10px;
    }

    .form-options select, .form-options input {
        width: 100%;
        box-sizing: border-box;
        padding: 20px 10px;
    }
    
    /* meet team responsive */
    .meet-team-heading {
        padding-top: 60px;
    }

    .meet-team-container {
        padding: 30px 0;
        max-width: 90%;
        grid-template-columns: repeat(1, 1fr);
    }
    .trainer {
        margin: 0 auto;
    }






}