* {
    margin: 0;
    /* background-color: black; */
}

/* Hero section start -------------------------------------------*/
.hero-section {
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 1), rgba(34, 34, 34, 1), rgba(17, 17, 17, 1));


}

nav {
    
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;

}

.Fitness {
    margin-top: 40px;
    color: rgba(230, 83, 60, 1);
    font-style: italic;
    font-weight: 800;
    font-size: 2.25rem;

}

.nav-list {
    margin-top: 40px;
    display: flex;
    list-style: none;
    font-size: 1.125rem;
    align-items: center;
    border-radius: 39px 39px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    padding: 2px 3px;
    padding-right: 20px;
}

.nav-list-item {
    color: white;
    margin-left: 50px;
}

#home {
    margin-left: 0px;
    padding: 8px 20px;
    background-color: rgba(230, 83, 60, 1);
    border-radius: 46px;
    font-weight: 600;
}

/* Header Content ........................ */

.header-container {
    display: flex;
    max-width: 1060px;
    margin: 0 auto;
    gap: 150px;
    /* background-color: brown */
}

.header-content {
    margin-top: 60px;
    width: 50%;
    /* background-color: aqua; */
}

.header-content-heading {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 4.875rem;
    color: white;
    font-weight: 900;
    line-height: 110%;

}

#shape {
    font-style: italic;
    font-weight: 400;

}

.header-content-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    line-height: 170%;
}

/* Header Buttons ........................ */

.header-button-container {
    margin-top: 40px;

}

.header-button {
    font-family: inherit;
    border-radius: 39px;
    font-size: 1.125rem;
    border: 1px solid rgba(255, 255, 255, 1);
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background: none;
    padding: 14px 45px;

}

#header-button-orange {
    margin-right: 10px;
    background-color: rgba(230, 83, 60, 1);
    border: none;
}

#header-button-orange-responsive {
    display: none;
}

/* Header image container ................ */
.header-image-container {
    position: relative;

}

#header-image {
    /* background-color: aqua; */
    width: 100%;

}

/* Header floating badges ................ */
.badge {
    position: absolute;
    font-family: inherit;
    display: flex;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    align-items: center;
    background-color: rgba(48, 48, 48, 0.54);

}

.badge-one {
    padding: 15px 20px;
    gap: 10px;
    bottom: 50px;
    left: -90px;
}

.dot {
    background-color: rgba(230, 83, 60, 1);
    width: 35px;
    height: 35px;
    /* margin-right: 50px; */
    border-radius: 50%;

}

.badge-two {
    padding: 15px 25px;
    top: 130px;
    right: -50px;
}
.badge-one-text {
    display: flex; 
    flex-direction: column;
    gap: 5px;
}

.badge-two-text {
    display: flex;
    flex-direction: column;

}

/* Change Habits section start ------------------------------------------ */
.change-habits-section {
    background-color: black;
}
.change-habits-heading {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
}
.change-habits-container {
    max-width: 1060px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 90px;

}
.change-habits-title {
    color: white;
    font-weight: 900;
    font-size: 3rem;
}
.change-habits-paragraph {
    max-width: 70%;
    margin: 20px auto;
    font-size: 0.875rem;
    line-height: 190%;
    color: rgba(255, 255, 255, 0.5);

}
.change-habits-item {
    /* background-color: aqua; */
    text-align: center;
}
.change-habits-image {
    margin-top: 10px;
    width: 190px;
    border-radius: 50%;
}


.change-habits-item-title {
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 1.125rem;
    font-weight: 600;
    color: white;

}
.change-habits-item-text {
    margin-top: 0px;
    font-size: 0.775rem;
    color: rgba(255, 255, 255, 0.5);

}

/* Run extra section start --------------------------------------------- */

.run-extra-section {
    /* margin-top: 50px; */
    background-color: black;
    padding-top: 100px;
    

}
.run-extra-container {
    max-width: 1060px;
    margin: 0px auto;
    padding: 40px 25px;

    display: flex;
    justify-content: space-around;
    gap: 150px;
    background-color: rgba(34, 34, 34, 1);
    border: none;
    border-radius: 18px;

}
.run-extra-box {
    /* background-color: red; */
    width: 40%;
}

#run-extra-box-heading {
    font-weight: 900;
    font-size: 3rem;
    color: white;
    margin-bottom: 20px;
}

#run-extra-box-paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.875rem;
    margin-bottom: 40px;
    line-height: 150%;

}
#run-extra-box-button {
    background-color: rgba(230, 83, 60, 1);
    border: none;
    padding: 14px 65px;
    font-weight: 600;
    font-size: 1.125rem;
    


}
.run-extra-image-container {
    width: 366px;
    height: 312px;
    border: none;
    border-radius: 18px;
    overflow: hidden;
    /* width: 50%; */
}
.run-extra-image {
    object-fit: contain;
    object-position: -770px -200px;
    
     /* width: 100%; */
}

/* .............................Run Extra section end  */

/* Bmi section start */
.bmi-section {
    background-color: black;
}
.bmi-heading {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 90px;

}
.bmi-box {
    max-width: 70%;
    margin: 0 auto;
}

.bmi-title {
    color: white;
    font-weight: 900;
    font-size: 3rem;
}
.bmi-paragraph {
    /* max-width: 70%; */
    margin: 20px auto;
    font-size: 0.875rem;
    line-height: 190%;
    color: rgba(255, 255, 255, 0.5);

}

.bmi-calculator-section {
    background-color: rgba(34, 34, 34, 1);
    /* padding-top: 90px; */

}

.bmi-calculator {
    max-width: 1060px;
    padding-left: 250px;
    padding-bottom: 50px;
}

#bmi-calculator-title {

    color: white;
    font-weight: 900;
    font-size: 1.75rem;
    padding-top: 49px;
    margin-bottom: 15px;

}
.bmi-calculator-paragraph {
    width: 50%;
    font-size: 0.875rem;
    line-height: 190%;
    color: rgba(255, 255, 255, 0.5);

}
.bmi-calculator-form {
    margin-top: 20px;
}

.form-options {
    max-width: 80%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.form-options select, .form-options input {
    font-size: 1rem;
    font-family: inherit;
    color: rgba(255, 255, 255, 0.6);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px 16px;
    border-radius: 8px;
    border: none;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

#activity-factor {
    grid-column: span 2;
}

#bmi-button {
    margin-top: 30px;
    background-color: rgba(230, 83, 60, 1);
    border: none;
    padding: 14px 65px;
    font-weight: 600;
    font-size: 1.125rem;

}
/* bmi section end */

/* Meet team section start */
.meet-team-section {
    background-color: black; 
}

.meet-team-heading {
    max-width: 1060px;
    margin: 0 auto;
    padding-top: 90px;
    text-align: center;
}

.meet-team-title {
    color: white;
    font-weight: 900;
    font-size: 3rem;
}
.meet-team-paragraph {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 0.875rem;
    line-height: 190%;
    color: rgba(255, 255, 255, 0.5);

}
.meet-team-container {
    max-width: 1060px;
    margin: 0px auto;
    padding: 15px 15px;
    background-color: rgba(34, 34, 34, 1);
    border: none;
    border-radius: 18px;
    background-color:rgba(255, 255, 255, 0.1);
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
}
.trainer {
    position: relative;
    background-size: cover;
    width: 336px;
    height: 272px;
    border: none;
    border-radius: 8px;
    
}

.member-detail {
    position: absolute;
    top: 210px;
    left: 15px;
}

.member-name {
    font-size: 1.25rem;
    color: white;
    font-weight: 900;
}

.member-title {
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.5);
}
